.splash {
  background-image: url('https://source.unsplash.com/category/buildings/1600x900');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -10;
}
.cover-6{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: teal;
  opacity: 0.6;
}
a{
  color: white;
}
