<h2>{{ entry.title }}</h3>
<h4>{{ entry.author.first_name }} {{ entry.author.last_name }}</h4>
<h4>{{ entry.pub_date }}</h4>
<p>{{ entry.body }}<p>
<h5>Processed<h5>
<p>p: {{ processed }} </p>
<table style="width:100%">
  <tr>
    <td> Sentence </td>
    <td> Category </td>
    <td> Category Confidence </td>
    <td> Sentiment </td>
    <td> Sentiment Score </td>
  </tr>
  {% for i in processed %}
  <tr>
    <td> {{i.sentence}} </td>
    <td> {{i.category}} </td>
    <td> {{i.cat_conf}} </td>
    <td> {{i.sentiment}} </td>
    <td> {{i.sent_score}} </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'journal_app:index' %}">Home</a>
